[DEFAULT]
ApplicationID=server
FileLogPath=quickfixj/logs
FileStorePath=quickfixj/store/
ConnectionType=acceptor
StartTime=00:00:00 Asia/Kolkata
EndTime=23:59:00 Asia/Kolkata
HeartBtInt=30
UseDataDictionary=N
DataDictionary=FIX4.2.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y
ResetOnLogon=Y


[SESSION]
BeginString=FIX.4.2
SocketAcceptPort=9876
SenderCompID=MY-ACCEPTOR-SERVICE
TargetCompID=MY-INITIATOR-SERVICE
AcceptorTemplate=N