[DEFAULT]
ApplicationID=client
FileLogPath=quickfixj/logs
FileStorePath=quickfixj/store/
ConnectionType=initiator
StartTime=00:01:00 Europe/Bucharest
EndTime=23:59:00 Europe/Bucharest
HeartBtInt=30
UseDataDictionary=N
DataDictionary=FIX4.2.xml
ValidateUserDefinedFields=N
ValidateIncomingMessage=N
RefreshOnLogon=Y
ResetOnLogon=Y


[SESSION]
BeginString=FIX.4.2
SocketConnectProtocol=TCP
SocketConnectHost=localhost
SocketConnectPort=9877
SenderCompID=MY-INITIATOR-SERVICE
TargetCompID=MY-ACCEPTOR-SERVICE
AcceptorTemplate=N
ReconnectInterval=30